@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Water+Brush&display=swap');

*{
    text-align: center;
    font-family: 'Oleo Script', cursive;
}

body{
    background-color: rgb(238, 184, 238);
}

img{
    border: 5px solid purple;
    border-radius: 10%;
}

p{
    padding: 1%;
    background-color: aquamarine;
    width: 30%;
    margin: auto;
}